@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --secondary-color1:#1d1d1f;
    --third-color2: #fff;
    --background-color1: #f4f4f4;
}

*{
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
body{
    margin:0;
    padding: 0;
    background-color: #f4f4f4;
}

#linkedinLink, #logo{
    width: 10%;
    border:none;
    border-radius: 10vw;
    letter-spacing: .5px;
    transition:ease-in .2s;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo{
    background-color: var(--background-color1);
    color: var(--secondary-color1);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#star{

    height:35px;
    width:35px;
    display: flex;
    margin-left:10px;
    vertical-align: middle;
    flex-shrink: none;
    margin-top:7px;
    fill: var(--secondary-color1);
    transition: ease-in-out .4s;
}
#logo:hover svg{
    transform: translate(200%, 0);
}

#logo:hover{
    background-color: var(--secondary-color1);
    color:var(--third-color2);
    
}
#linkedinLink{
    color: var(--third-color2);
    background-color: var(--secondary-color1);
}

#linkedinLink:hover{
    background-color: var(--third-color2);
    color:var(--secondary-color1);
    
}
#fixed-menu *:hover{
    cursor:crosshair;
}
#fixed-menu{
    width: 100%;
    position:fixed;
    left:50%;
    top:5vh;
    height: 7%;
    padding: 0 2%;
    transform: translate(-50%);
    display: flex;
    justify-content: space-between;
    letter-spacing: .5px;
}
#fixed-menu p{
    font-size: 1.6rem;
}
#nav-bar a{
    color:black;
    text-decoration: none;
    font-size: 1vw;
    color:#aaaaaa;
    transition: all .2s;
    height:100%;
    margin:auto;
    display: flex;
    align-items: center;

}
#nav-bar a:hover{
    color:var(--seconday-color1);
    cursor:crosshair;
    transform: translateY(-7px);
}


#nav-bar{
    width:20%;
    padding: 10px 50px;
    border-radius: 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}
.arrow{
    transition: ease-in-out .15s;
}
.arrow:hover{
    transform: rotate(45deg);
}
.containerRow{
    position: relative;
    top: 35vh;
    margin: 0 auto;
    width: 80%;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, 10vh);
    gap:3vh;
}
.row{
    border-radius: 6vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text{
    display: flex;
    align-items: center;
    border-radius: 6vw;
    width:90%;
    height:100%;
    padding: 0 3%;
    background-color: var(--third-color2);
    transition:ease-in .2s;
}
.text:hover{
    background-color: var(--secondary-color1);
    color:var(--third-color2);
    cursor:crosshair;
}
.text:hover + .arrow{
    transform: rotate(45deg);

}
#circle{
    margin:auto 0;
    height:10px;
    width:10px;
    background-color: var(--secondary-color1);
    display: flex;
    border-radius: 100%;
    margin-left:10px;
    vertical-align: middle;
}
#linkedinLink:hover #circle{
    color:var(--secondary-color1);
}
#line{
    width:100%;
    border-bottom:1px solid var(--secondary-color1);
    margin-left:30px;
    
}
@media (max-width : 1000px){
    #star{
        display: none;
    }
    #linkedinLink{
        display: none;
    }
    #nav-bar{
        display: none;
    }
}
